<div id="jumbo" class="p-5 mb-4 bg-light position-relative">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Train Accident Statistics</h1>
    <p class="fw-bold">A class project by Karina Kumar. </p>
    <p id="photo-cred" class="position-absolute bottom-0 end-0 mx-1 my-0"><a href="https://data.transportation.gov/stories/s/wjun-6kqb" target = "_blank">Photo credit: U.S. Department of Transportation</a></p>
  </div>
</div>