<div id="jumbo" class="position-relative">
  <div class="container-fluid text-center bg-white bg-opacity-75 position-absolute top-50 start-50 translate-middle">
    <h1 class="display-5">Train Accident Statistics</h1>
    <p class="fst-italic">A class project by Karina Kumar </p>
  </div>
  <p id="photo-cred" class="position-absolute bottom-0 end-0 mx-1 my-0"><a href="https://data.transportation.gov/stories/s/wjun-6kqb" target = "_blank">Photo credit: U.S. Department of Transportation</a></p>
</div>