{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ county_name }}{% endblock %}

{% block content %}
<h1>{{ county_name }}</h1>
<div class = "col-md-6">
  <table class="table table-striped">
    
  </table>

</div>
{% endblock %}