{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}



{% block content %}
{% include "_includes/jumbotron.njk" %}
<div class="container">
  <h1>Train Accident Statistics for Texas and Nation-wide</h1>
  <p>The data that supports this website is from the U.S. Department of Transportation and can be found <a href="https://data.transportation.gov/stories/s/wjun-6kqb" target="_blank">here</a>.</p>
  <h2>Counties in Texas with Train Accidents</h2>
  <p>These are the counties in Texas that have train accidents reported since 2020. Click on the county name to navigate to that county's individual statistics page.</p>
  <div class="row">
    {% for county in accidents.counties %}
      <div class="col-2">
        <h3><a href="county-pages/{{ county.county_name }}.html">{{ county.county_name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Nationwide Data</h2>
  <p>Navigate to the nationwide page to learn statistics about train accidents in every state.</p>
  <button type="button" class="btn btn-dark" href="nationwide-data.html">Nationwide Data</button>
</div>
{% endblock %}