{% extends '_templates/base.njk' %}

{% block page_title %}U.S. Statistics{% endblock %}

{% include "_includes/jumbotron.njk" %}

{% block content %}
<div class="container">
<h1>Nationwide Statistics</h1>
<p>Total train accidents in each state since 2021 in descending order of number of accidents.</p>
<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
    {% for state in accidents.states_count %}
    <div class="col">
        <div class="card text-center h-100" >
            <div class="card-body">
            <h5 class="card-header">{{ state.state_name }}</h5>
            <p class="card-text fs-1">{{ state.total_checked }} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}