{% extends '_templates/base.njk' %}

{% block page_title %}U.S. Statistics{% endblock %}

{% block content %}
<div class="container">
<h1>HEADLINE</h1>
<p>DESCRIPTION</p>
<div class="row row-cols-4 row-cols-md-2 g-4">
    <div class="col">
    {% for state in accidents.states_count %}
        <div class="card text-center mb-3" >
        <div class="card-body">
        <h5 class="card-title">Total Accidents in {{ state.state_name }} since 2021</h5>
        <p class="card-text fs-1">{{ state.total_checked }} </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}