#jumbo {
  background: url(../img/jumbo_train.jpeg) no-repeat center;
  background-size: cover;
  color: white;
  margin-bottom: 30px;
  padding: 10rem;

  h1, p{
    color: black;
  }

  #photo-cred {
    font-size: 8px;
  }
  
  #photo-cred a {
    text-decoration: none;
    color: black;
  }
  .container-fluid {
    padding: 5px;
    width: clamp(10rem, 60%, 30rem);
  }

  }

