#jumbo {
    background: url(../img/jumbo_train.jpeg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem;
    margin-bottom: 30px;
    
  }
  
  #jumbo h1{
    color: #f9ad1b;
  }

  #photo-cred {
    font-size: 8px;
  }

  #photo-cred a {
    text-decoration: none;
    color: black;
  }


