// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

h3 {
  font-size: 1.5rem;
}

p.card-text {
  font-size: 2.8rem;
}

h1, h2, h5 {
  font-family: "DM Serif Text", serif;
}

@import "jumbotron";
